.daily-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    background-color: #334155;
    padding: 24px;
    border: solid 1px #64758B;
    /* max-width: 140.51px; */
}

.day {
    font-size: 15px;
    width: 200px;
    color: #15D370;
    font-size: 20px;
    font-family: monospace;
}

.temp-data {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

#max-temp {
    color: #FD6F50;
}

#min-temp {
    color: #549AF9;
}

#summary {
    color: #F1F5F9;
    font-weight: bold;
}

#loading {
    margin-top: 25px;
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #9c41f2;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
}

#loading.display {
    visibility: visible;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.icon {
    margin-top: 10px;
    margin-bottom: 10px;
}