.daily-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    background-color: #334155;
    padding: 24px;
    border: solid 1px #64758B;
    /* max-width: 140.51px; */
}

.day {
    font-size: 15px;
}