@tailwind base;
@tailwind components;
@tailwind utilities;

#max-temp {
    @apply text-rose-500;
}

#min-temp {
    @apply text-cyan-400;
}

.icon {
    @apply my-2 w-14;
}

#summary {
    @apply text-slate-100 font-bold;
}

.card-date {
    
}

#dayHigh {
    @apply mr-1;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.faster {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}